@charset "utf-8";

.text-right {text-align: right;}
.text-center {text-align: center;}
.text-left{text-align: left;}
strong,
strong * {font-weight: bold;}
img {max-width: 100%;height: auto;}
a {color: #FE7300;text-decoration: none;}
a:hover {opacity: 0.85; text-decoration: none;}
body {
    margin: 0px;
    padding: 0px;
    font: normal 15px/17px Verdana, Arial, sans-serif;
    color: #000;
	background:#000000 url(https://lib.store.yahoo.net/lib/coolfj40/main-bg.jpg) no-repeat top center;
	background-attachment: fixed;
}

.container-fluid{
	max-width: 1400px;
}

header{
	color:#fff;
	padding-top:15px;
	margin-bottom: 15px;
}

.banner-bg{
	border:solid 1px #AA6334;
	background: #591e0a;
	background: -moz-linear-gradient(top,  #591e0a 0%, #030100 100%);
	background: -webkit-linear-gradient(top,  #591e0a 0%,#030100 100%);
	background: linear-gradient(to bottom,  #591e0a 0%,#030100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591e0a', endColorstr='#030100',GradientType=0 );
	padding:10px;
}
.row.header-bottom{
	margin-top:-45px;
}
.row.header-bottom > div{
	padding-left:0 !important;
}
.logo > a{
	position: relative;
	z-index: 1;
}

