<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - application form</title>
</head>
<body>
<section>
    <h2 th:if="${app.id == null}">Add a app</h2>
    <h2 th:if="${app.id != null}">Edit app</h2>
    <form action="#" th:action="@{/app}" th:object="${app}" method="post">
        <input type="hidden"  th:field="*{id}"/>
        <input type="hidden"  th:field="*{jobId}"/>
        <h4 th:text="${app.getJobTitle()}"></h4>
        <p th:text="'Company: ' + ${app.getCompanyName()}"></p>
        <p>
            <label>Status:
                <select th:field="*{status}">
                    <option th:each="s: ${statuses}" th:value="${s}" th:text="${s}"></option>
                </select>
            </label>
        </p>
        <p>
            <label>Notes:
                <textarea rows="5" cols="50" th:field="*{notes}"></textarea>
            </label>
        </p>

        <p><input type="submit" value="Submit" /></p>
    </form>

</section>
</body>
</html>