<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - attributes</title>
</head>
<body>
<section>
    <h2>Attributes</h2>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value(s)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attribute : ${attributes}">
            <td th:text="${attribute.name()}">Name</td>
            <td><span th:each="value : ${attribute.attributeValues()}" th:text="${value.value()}">Value</span></td>
            <td>Add</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>