<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - attributes</title>
</head>
<body>
<section>
    <h2>Attributes</h2>

    <form action="#" th:action="@{/attributes}" th:object="${attributeForm}" method="post">
        <label>
            <input type="text" th:field="*{name}" size="20" placeholder="Enter attribute name..." onClick="this.select();"/>
        </label>
        <label>
            <input type="text" th:field="*{valuesCsv}" size="50" placeholder="Enter one or more comma separated values..."
                   onClick="this.select();"/>
        </label>
        <button type="submit" class="btn btn-info">Add attribute</button>
    </form>

    <div th:each="attribute : ${attributes}">
        <h3 th:text="${attribute.name()}">Name</h3>
        <p th:each="av : ${#strings.listJoin(attribute.getAttributeValuesAsStrings(), ', ')}" th:text="${av}">Value</p>
    </div>

</section>
</body>
</html>