<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - jobs</title>
</head>
<body>
<section>
    <h2>Companies</h2>

    <p><a href="/company">Add a company</a></p>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Location</th>
            <th>Employee Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${companies}">
            <td><a th:href="@{/companies/{id}(id=${c.id()})}" th:text="${c.name()}">Name</a></td>
            <td><a th:href="${c.websiteUrl()}" th:text="${c.websiteUrl()}">URL</a></td>
            <td th:text="${c.location()}">Location</td>
            <td th:text="${c.employeeCount()}">Count</td>
            <td><a th:href="@{/companies/{id}/edit(id=${c.id()})}">Edit</a></td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>