<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - jobs</title>
</head>
<body>
<section>
    <h2>Companies</h2>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Num. Employees</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${companies}">
            <td th:text="${c.name()}">Name</td>
            <td><a th:href="${c.websiteUrl()}" th:text="${c.websiteUrl()}" target="_blank">website url</a></td>
            <td th:text="${c.employeeCount()}">200</td>
            <td><a th:href="@{/companies/{id}/edit(id=${c.id()})}">Edit</a> - <a
                    th:href="@{/companies/{id}/delete(id=${c.id()})}">Del</a></td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>