<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - jobs</title>
</head>
<body>
<section>
    <h2>Jobs</h2>

    <table style="width: 100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Created</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Source</th>
            <th>Contact</th>
            <th>URL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobs}">
            <td><a th:href="@{/jobs/{id}(id=${job.job().id()})}" th:text="${job.job().title()}">Title</a></td>
            <td th:text="${job.company().name()}">Company</td>
            <td th:text="${job.job().createdAt()}">Created</td>
            <td th:text="${job.job().status()}">Status</td>
            <td th:text="${job.job().salaryDisplay()}">Salary</td>
            <td th:text="${job.job().source()}">Source</td>
            <td th:text="${job.job().contactName()}">Contact Name</td>
            <td><a th:href="@{{url}(url=${job.job().url()})}" th:text="${job.job().url()}">URL</a></td>
            <td><a th:href="@{/jobs/{id}/edit(id=${job.job().id()})}">Edit</a> - <a
                    th:href="@{/jobs/{id}/delete(id=${job.job().id()})}">Del</a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>