<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - jobs</title>
</head>
<body>
<section>
    <h2>Jobs</h2>
    <p><a href="/job">Add a job</a></p>
    <div th:each="detail : ${jobs}">
        <h3><a th:href="@{/jobs/{id}(id=${detail.job().id()})}" th:text="${detail.job().title()}">Title</a></h3>
        <p><a th:href="@{/companies/{id}(id=${detail.job().companyId()})}" th:text="${detail.company().name()}">Company Name</a></p>
    </div>
</section>
</body>
</html>