<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - job detail</title>
</head>
<body>
<section>

    <h2 th:text="${detail.job().title()}">title</h2>

    <hr/>
    <p><a th:href="@{/companies/{id}(id=${detail.job().companyId()})}" th:text="${detail.company().name()}">Company Name</a></p>
    <div>
        <div><span th:text="${detail.company().employeeCount()}">employee count</span> employees &middot; <span th:text="${detail.company().location()}">location</span></div>
        <div th:text="${detail.company().summary()}">company summary</div>
    </div>

    <hr/>

    <p><a th:href="@{/jobs/{id}/apply(id=${detail.job().id()})}">Apply</a></p>

    <div th:utext="${detail.job().htmlContent()}">content</div>

</section>
</body>
</html>
