<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - jobs</title>
</head>
<body>
<section>
    <h2>Jobs</h2>
    <p><a href="/job">Add a job</a></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Company</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${jobs}">
            <td th:text="${detail.job().status()}"></td>
            <td><a th:href="@{/jobs/{id}(id=${detail.job().id()})}" th:text="${detail.job().title()}">Title</a></td>
            <td><a th:href="@{/companies/{id}(id=${detail.job().companyId()})}" th:text="${detail.company().name()}">Company Name</a></td>
            <td><a th:href="@{/jobs/{id}/edit(id=${detail.job().id()})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>