<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - search</title>
</head>
<body>
<section>

    <h2>Search</h2>

    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <label>
            <input type="text" th:field="*{query}" size="50" placeholder="Enter query..." onClick="this.select();"/>
        </label>
        <button type="submit" class="btn btn-primary btn-sm">Search</button>
    </form>

    <hr/>

    <h3>Jobs</h3>
    <p>Found <span th:text="${numJobResults}" style="font-weight: bold"></span> jobs</p>
    <div th:each="j : ${jobResults}">
        <p th:text="${j.title()}">Title</p>
    </div>

    <hr/>

    <h3>Companies</h3>
    <p>Found <span th:text="${numCompanyResults}" style="font-weight: bold"></span> companies</p>
    <div th:each="c : ${companyResults}">
        <p th:text="${c.name()}">Name</p>
    </div>

</section>
</body>
</html>