<html th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>jobosint - search</title>
</head>
<body>
<section>

    <h2>Search</h2>
    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <div class="input-group mb-3">
            <input class="form-control" type="text" th:field="*{query}" size="50" placeholder="Enter query..." aria-label="Query" onClick="this.select();"/>
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div th:if="${jobResults != null}" class="col">
                <p>Found <span th:text="${numJobResults}" style="font-weight: bold"></span> jobs</p>
                <div th:each="detail : ${jobResults}">
                    <p><a th:href="@{/jobs/{id}(id=${detail.job().id()})}" th:text="${detail.job().title()}">Title</a>@<span th:text="${detail.company().name()}">company name</span></p>
                </div>
            </div>

            <div th:if="${companyResults != null}" class="col">
                <p>Found <span th:text="${numCompanyResults}" style="font-weight: bold"></span> companies</p>
                <div th:each="c : ${companyResults}">
                    <p><a th:href="@{/companies/{id}(id=${c.id()})}" th:text="${c.name()}">Name</a></p>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>